{% extends "base.html" %}

{% block app_content %}
    <h1> Hi, {{ current_user.username }} ! </h1>
    <h2> The weather in {{ user.location}} is: <h2>
      <table border="2" align="left" bordercolor="red">
      <tr>
        <th> Temperature: {{user.temp}} </th>
      </tr>
      <tr>
        <th> Wind : {{user.wind}} </th>
      </tr>
      <tr>
         <th> {{user.weatherstate}}
           <img src ={{user.icon}} height="20" width="20" </img> </th>
       </tr>
       </table>


{% endblock %}
