{% extends "base.html" %}

{% block app_content %}
    <h1 style="font-size:30px"> Hi, {{ current_user.username }} ! </h1>
    <h2 style="font-size:15px"> {% if current_user.last_seen %}<p>Last seen on: {{ current_user.last_seen }}</p>{% endif %} </h2>
    <h3 style="font-size:20px" align = "center" > Your Securities Dashboard: </h3>
<body>

<div>

      <table style="font-size:15px" table border="2" align="center" bordercolor="red">

        <tr>
     <th> Ticker </th>
     <th> Price </th>
     </tr>
     {% for s in users_tickers %}
     <tr>
       <td> {{ s }} </td>
      <td> {{ live_price(s) }} </td>
      </tr>
      {% endfor %}
        </table>

</div>
<div>

<br>

<div>
       <form style="font-size:15px" align="center" action="" method="post" novalidate>
         {{ form.hidden_tag() }}
         <p>
             {{ form.ticker.label }}
             {{ form.ticker(size=32) }}
             {% for error in form.ticker.errors %}
             <span style="color: red;">[{{error}}]</span>
             {% endfor %}
         </p>

         <p> {{ form.submit() }} </p>
         </form>
</div>

</body>


{% endblock %}
